@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  min-height: 100%;
}

/* Стилизация всех кнопок */
.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000000;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffe17f;
  letter-spacing: 0.2em;
}

/* Header */
.page-header {
  background-color: #ffe17f;
  width: 1160px;
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: border-box;
}

.page-header a {
  color: #000000;
  text-decoration: none;
}

.search-button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.menu-wrap {
  display: flex;
}

.menu-list {
  margin-left: auto;
}

.menu-item {
  display: inline;
  margin-right: 12px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item:first-child {
  margin-right: 180px;
}

.header-icon {
  margin-right: 12px;
}

.nav-wrap {
  display: flex;
  margin-bottom: 30px;
}

.nav-list {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-left: auto;
}

.nav-item {
  display: inline;
  margin-right: 50px;
}

.nav-item:last-child {
  margin-right: 0;
}

.product-number-wrap {
  margin-left: auto;
  width: 250px;
  text-align: right;
  margin-right: -8px; /*не получается сделать цифру в ровень с верхним полем без этого маржина  */
}

.product-number {
  color: #ffffff;
  font-size: 180px;
  font-weight: 800;
  line-height: 30px;
  text-align: right;
}

/* О товаре */
.main-page {
  flex-grow: 1;
}

.main-wrap {
  width: 1160px;
  margin: 0 auto;
}

.main-product-wrap {
  display: flex;
}

.product-introduction {
  width: 530px;
}

.product-description {
  margin-left: auto;
  width: 560px;
}

.product-slogan {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.product-description-slogan {
  color: #444444;
}

.product-distance {
  font-size: 36px;
}

.advatage-description {
  font-size: 16px;
  padding-right: 20px;
}
/* /О товаре */

/* Карточки с категориями товаров */
.category-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.category-item {
  width: 160px;
  display: inline;
}

.category-descriprion {
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.img-wrap {
  background: #ffe17f;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
}

.category-item:nth-child(2) .img-wrap {
  align-items: flex-end;
}

.category-image {
  display: block;
  margin: 0 auto;
}
/* /Карточки с категориями товаров */

/* Блок с услугами - Доставка */
.service {
  background-color: #f0f0f0;
  margin-bottom: 70px;
}

.service-wrap {
  display: flex;
}

.service button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
}

.list-wrap {
  width: 280px;
  margin-right: 120px;
}

.service-list {
  padding: 0;
  margin: 0;
}
.service-delivery-wrap {
  width: 450px;
  margin-right: 110px;
}

.button-active {
  background-color: #000000;
  color: #ffe17f;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
}

.service-name {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-style: normal;
  margin: 0;
}

.service-description {
  margin: 0;
  padding: 0;
  text-align: left;
  color: #444444;
}
/* /Блок с услугами - Доставка */

/* Блок Доставим редкий товар */
.delivery {
  background-color: #f0f0f0;
  text-align: center;
  margin-bottom: 70px;
}

.delivery-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivery-link {
  text-decoration: none;
}

.delivery-img-wrap {
  background-color: #ffe17f;
  width: 125px;
  height: 100px;
}

.delivery-img {
  background-color: #ffe17f;
  padding: 35px 39px;
  text-align: center;
}

.delivery-description {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.delivery-icon {
  background-image: rgba(220, 220, 220, 0.5);
  margin-right: 42px;
}
/* /Блок Доставим редкий товар */

/* О Нас */
.about-contact {
  display: flex;
}

.about_us-wrap {
  width: 500px;
}

.about_us-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.about_us-description {
  color: #444444;
  margin: 0;
  padding: 0;
}

.about_us-list {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}
/* /О Нас */

/* Контакты */
.contact {
  color: #444444;
}

.contact-wrap {
  width: 530px;
  margin-left: auto;
}

.contact-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contact-name {
  font-weight: 700;
  font-size: 24px;
}

.contact-decription {
  margin-right: 30px;
}

.contact-adress {
  font-style: normal;
}

.contact-phone {
  color: #444444;
}

.contact-workhours-title {
  font-weight: 700;
  font-size: 24px;
}

.workhours-list {
  margin: 0;
  padding: 0;
}
/* /Контакты */

/* Подписаться на рассылку */
.subscribe {
  background-color: #f0f0f0;
}

.subscribe-wrap {
  display: flex;
}

.subscribe-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  width: 350px;
}

.subscribe-description {
  color: #444444;
  width: 560px;
  text-align: start;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.subscribe-form-wrap {
  width: 810px;
}
.button-subscribe {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.mailing-free-wrap {
  width: 160px;
  margin-left: auto;
}

.img-mailing-free {
  margin-right: 16px;
}
/* /Подписаться на рассылку */

/* Footer */
.main-footer {
  background-color: #444444;
  color: #ffffff;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
}

.footer-address {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.footer-wrap {
  display: flex;
}

.footer-list {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.footer-item {
  display: inline;
  margin-right: 25px;
}

.footer-phone {
  text-decoration: underline;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  background-color: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  display: inline;
}

.social-img {
}

.address-wrap {
  width: 240px;
  margin-right: 120px;
}

.social-wrap {
  width: 445px;
  margin-right: 180px;
}

.footer-phone-wrap {
  width: 175px;
}
/* CATALOG */

/* Header */

.user-exit {
  opacity: 0.3;
}

.menu-item-footer {
  display: inline;
  margin-right: 28px;
}

.menu-item-footer:last-child {
  margin-right: 0;
}

/* Main */

.catalog-page {
  background-color: #ffffff;
  flex-grow: 1;
}

.catalog-title-wrap {
  width: 1080px;
  margin: 0 auto;
}

.catalog-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #000;
}

/* Фильтр */
.catalog-filter {
  background-color: #f0f0f0;
  width: 320px;
}
.catalog-subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-sort {
  background-color: #f0f0f0;
  width: 840px;
  height: 120px;
}

.catalog-wrap {
  display: flex;
  background-color: #f0f0f0;
}
.price-range {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.control {
  font-size: 16px;
  line-height: 19px;
}
/* /Фильтр */

/* Карточки товаров */
.product-wrap {
  width: 840px;
}

.product-list {
  background-color: #ffffff;
}
.product-card-img {
  background-color: #efefef;
}

.product-link {
  text-decoration: none;
  color: #000;
}

.product-card-desc {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}
/* /Карточки товаров */

/* Переключение страниц */
.paggination-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.paggination-item a {
  text-decoration: none;
}
.paggination-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
}

.paggination-page-link {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
}
/* /Переключение страниц */
