@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стилизация всех кнопок */
.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000000;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: none;
  font-size: 18px;
  padding: 0;
  position: relative;
  margin: 10px;
  z-index: 2;
}

.button::before {
  content: "";
  position: absolute;
  background-color: #ffe17f;
  height: 8px;
  width: 115%;
  top: 35%;
  left: -10px;
  z-index: -1;
}

.button-catalog {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000000;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: none;
  background-color: #ffe17f;
  font-size: 18px;
  padding: 0;
  position: relative;
  margin: 10px;
  margin-right: 6px;
  z-index: 2;
}
/* Header */
.logo {
  margin-top: -20px;
  margin-bottom: 10px;
}

.page-header {
  background-color: #ffe17f;
  width: 1160px;
  margin: 40px auto 30px;
  padding: 0 60px;
  box-sizing: border-box;
  position: relative;
}

.page-header a {
  color: #000000;
  text-decoration: none;
}

.search-button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.menu-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.menu-list {
  margin: 0;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.menu-item {
  margin-right: 18px;
  list-style-type: none;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item:first-child {
  margin-right: 180px;
}

.header-icon {
  margin-right: 12px;
}

.header-navigation {
  margin-bottom: 150px;
}

.nav-wrap {
  display: flex;
  align-items: center;
}

.nav-list {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.nav-item {
  margin: 0;
  margin-right: 50px;
  list-style-type: none;
}

.nav-item:last-child {
  margin-right: 0;
}

/* .product-number-wrap {
  margin-left: auto;
  width: 250px;
  text-align: right;
  margin-right: -8px;
} */

.product-number {
  position: absolute;
  color: #ffffff;
  font-size: 180px;
  font-weight: 800;
  line-height: 30px;
  left: 898px;
  top: 224px;
}

/* О товаре */
.main-page {
  flex-grow: 1;
}

.main-wrap {
  width: 1160px;
  margin: 0 auto;
}

.main-product-wrap {
  display: flex;
  margin-bottom: 70px;
}

.product-introduction {
  display: flex;
  width: 530px;
  align-items: center;
  margin-top: -180px;
  z-index: 9999;
}

.product-description {
  margin-left: auto;
  width: 560px;
  margin-top: -60px;
  z-index: 9999;
}

.product-slogan {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin: 0 0 30px;
}

.product-description-slogan {
  color: #444444;
  margin: 0 0 50px;
}

.product-swap {
  display: flex;
  margin: 0 0 50px;
}

.btn-product-wrap {
  margin-left: auto;
}

.product-distance {
  font-size: 36px;
}

.advatage-description {
  font-size: 16px;
  padding-right: 20px;
}
/* /О товаре */

/* Карточки с категориями товаров */
.category {
  margin-bottom: 144px;
}

.category-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.category-item {
  width: 160px;
  list-style-type: none;
}

.category-link {
  text-decoration: none;
  color: #000000;
}

.category-descriprion {
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin: 32px 0 0;
}

.img-wrap {
  background: #ffe17f;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
}

.category-item:nth-child(2) .img-wrap {
  align-items: flex-end;
}

.category-image {
  display: block;
  margin: 0 auto;
}
/* /Карточки с категориями товаров */

/* Блок с услугами - Доставка */
.service {
  margin-bottom: 70px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 9%,
    rgba(240, 240, 240, 1) 9%,
    rgba(240, 240, 240, 1) 100%
  );
}

.service-wrap {
  display: flex;
}

.service button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
}

.list-wrap {
  width: 280px;
  margin-right: 120px;
}

.service-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.service-item {
  margin-bottom: 35px;
}

.service-item:last-child {
  margin-bottom: 0;
}

.service-delivery-wrap {
  width: 450px;
  margin-right: 110px;
}

.button-active {
  background-color: #000000;
  color: #ffe17f;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
}

.service-name {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-style: normal;
  margin: 0 0 34px;
}

.service-description {
  margin: 0 0 144px;
  padding: 0;
  text-align: left;
  color: #444444;
}
/* /Блок с услугами - Доставка */

/* Блок Доставим редкий товар */
.delivery {
  background-color: #f0f0f0;
  text-align: center;
  margin-bottom: 70px;
}

.delivery-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivery-link {
  text-decoration: none;
}

.delivery-img-wrap {
  background-color: #ffe17f;
  width: 125px;
  height: 100px;
}

.delivery-img {
  background-color: #ffe17f;
  padding: 35px 39px;
  text-align: center;
}

.delivery-description {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  color: #000;
}

.delivery-icon {
  background-image: rgba(220, 220, 220, 0.5);
  margin-right: 42px;
}
/* /Блок Доставим редкий товар */

/* О Нас */
.about-contact {
  display: flex;
  margin-bottom: 70px;
}

.about_us-wrap {
  width: 500px;
}

.about_us-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0 0 48px;
}

.about_us-description {
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.about_us-list {
  margin: 0;
  margin-left: 20px;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.about_us-item {
  margin-bottom: 20px;
}

.about_us-item:last-child {
  margin-bottom: 30px;
}
/* /О Нас */

/* Контакты */
.contact {
  color: #444444;
}

.contact-wrap {
  width: 530px;
  margin-left: auto;
}

.contact-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0 0 48px;
}

.contact-name {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  margin-bottom: 16px;
}

.contact-decription {
  margin: 0 30px 30px 0;
}

.contact-adress {
  font-style: normal;
}

.contact-phone {
  color: #444444;
}

.contact-workhours-title {
  font-weight: 700;
  font-size: 24px;
  margin: 30px 0 16px;
}

.workhours-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.workhours-item {
  list-style-type: none;
}

/* /Контакты */

/* Подписаться на рассылку */
.subscribe {
  background-color: #f0f0f0;
}
.subscribe-inner {
  padding: 64px 0 56px;
}
.subscribe-wrap {
  display: flex;
}

.subscribe-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  width: 350px;
  margin: 0 0 144px;
}

.subscribe-description {
  color: #444444;
  width: 560px;
  text-align: start;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.subscribe-form-wrap {
  width: 810px;
}

.button-subscribe {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.mailing-free-wrap {
  width: 160px;
  margin-left: auto;
}

.img-mailing-free {
  margin-right: 16px;
}
/* /Подписаться на рассылку */

/* Footer */
.main-footer {
  background-color: #444444;
  color: #ffffff;
  padding: 62px 0 64px;
}

.footer-logo_device {
  margin-bottom: 35px;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
}

.footer-address {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  margin: 0;
}

.footer-wrap {
  display: flex;
}

.footer-list {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin: 74px 0 62px;
  padding: 0;
}

.footer-item {
  margin-right: 35px;
  list-style-type: none;
}

.footer-item:last-child {
  margin-right: 0;
}

.social-wrap {
  width: 445px;
  margin-right: 180px;
}

.social-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social-link {
  margin-right: 16px;
}

.social-link:last-child {
  margin-right: 0;
}

.social-item {
  background-color: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  list-style-type: none;
}

.social-img {
  position: absolute;
  top: 14px;
  left: 13px;
}

.address-wrap {
  width: 240px;
  margin-right: 120px;
}

.footer-phone {
  text-decoration: underline;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-phone-wrap {
  width: 175px;
  margin-top: 78px;
}

.footer-logo_academy {
  margin-top: 64px;
}

/* CATALOG */

/* Header */
.header-inner-navigation {
  margin-bottom: 22px;
}

.user-exit {
  opacity: 0.3;
}

.menu-item-footer {
  display: inline;
  margin-right: 28px;
}

.menu-item-footer:last-child {
  margin-right: 0;
}

/* Main */

.catalog-page {
  background-color: #ffffff;
  flex-grow: 1;
}

.catalog-title-wrap {
  width: 1080px;
  margin: 0 auto;
}

.catalog-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0 0 16px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 19px;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
}

.breadcrumbs-item {
  margin-right: 36px;
  list-style-type: none;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #000;
}

/* Фильтр */
.catalog-filter {
  background-color: #f0f0f0;
  width: 320px;
  margin-top: 26px;
}
.catalog-subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  margin-right: 206px;
}

.catalog-sort {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  width: 840px;
  padding: 26px 40px;
}

.catalog-sort-category {
  margin-right: 206px;
}

.catalog-filter-title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-outer {
  background-color: #f0f0f0;
}

.catalog-wrap {
  display: flex;
  background-color: #f0f0f0;
}
.price-range {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.control {
  font-size: 16px;
  line-height: 19px;
}
/* /Фильтр */

/* Карточки товаров */
.product-wrap {
  width: 840px;
}

.product-list-wrap {
  background-color: #ffffff;
  padding: 70px 40px 78px;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 44px 40px;
}

.product-card {
  width: 360px;
}

.product-card-img {
  background-color: #efefef;
  grid-column: 1/-1;
  object-fit: contain;
}

.product-link {
  text-decoration: none;
  color: #000;
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 32px;
}

.product-card-desc {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  grid-column: 1/2;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
  grid-column: 2/3;
}
/* /Карточки товаров */

/* Переключение страниц */
.paggination-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 18px;
  width: 760px;
  border: 3px solid #e5e5e5;
  margin: 44px 0;
}

.pagination-container {
  display: flex;
  background-color: #ebebeb;
  align-items: center;
}

.paggination-page {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.paggination-item a {
  text-decoration: none;
}

.paggination-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
  display: block;
  text-decoration: none;
  padding: 25px;
}

.paggination-page-back {
  margin-right: 146px;
}

.paggination-page-link {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
  width: 40px;
  height: 40px;
  padding: 10px 16px;
}

.paggination-page-forward {
  display: block;
  margin-left: auto;
}

/* /Переключение страниц */
